@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div>
        <h1 class="display-4">Welcome to the Employees Site</h1>
        <h2 class="display-6">Click on the link below to view and configure employee details:</h2>
        <a asp-page="EmployeeData/Index">Employee Details</a>
    </div>
